*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #F1F1F1,#636652);
    font-family:'Yaldevi', sans-serif;
    height:120vh;
    color:#F1F1F1;
    font-size: 62.5%;
}
/**************************************************************************************/
/*************************************** navigation ***********************************/
/**************************************************************************************/
nav{
    position:fixed;
    background:linear-gradient(to bottom, #333, #626262);
    height: 70px;
    width: 100%;
    z-index: 10;
    
}
.liste-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    z-index: 20;
    }
.item-nav{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;
}
.item-nav a{
    font-size:20px;
    text-decoration: none;
    color:#F1F1F1;
    margin:0 20px;
    text-transform: uppercase;
}
.item-nav a::after{
    content:'';
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #F1F1F1;
    transition:width 0.2s ease-in-out;
}
.item-nav a:hover::after{
    width:100%;
    opacity:50%;
}
.item-nav a:hover{
    color:rgb(101, 206, 101);
}

/********************** icone hamburger ***********************/
.box{
    height: 30px;
    width: 30px;
    /* background: salmon; */
    position: absolute;
    top:10px;
    right: 10px;
    display:none;
    z-index: 25;

}

.container-lignes{
    margin-top:5px;
    height:30px;
    width:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.lignes{
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #f1F1F1;
    opacity: 30%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.lignes:nth-child(1){
    top:0px;
}
.lignes:nth-child(2){
    top:18px;
}
.lignes:nth-child(3){
    top:36px;
}

.btn1.active .lignes:nth-child(1){
    top: 18px;
    transform: rotate(135deg);
}
.btn1.active .lignes:nth-child(2){
    transform: translatex(-20px);
    opacity: 0;
}
.btn1.active .lignes:nth-child(3){
    top: 18px;
    transform: rotate(-135deg);
}
/* mediaquery du nav ********************************************/
@media screen and (max-width:900px){
    .box{
        display:block;
    }
    .lignes{
        opacity: 80%;
    }
    .liste-nav{
        padding-top:70px;
        flex-direction: column;
        height: auto;
        position: relative;
        display: none;
    }
    .liste-nav.active{
        display:block;
        background:linear-gradient(to bottom, #333, #626262);
    }
    .item-nav{
        justify-content: center;
        height: 70px;
    }
}

/**************************************************************************************/
/*************************************** home ***********************************/
/**************************************************************************************/

.accueil{
    width: 100%;
    height: 100vh;
    background-image: url(./ressources/bg.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity:0.7;
    position: relative;
    top:70px;
    display: flex;
}

.accueil-titre{
    width: 100%;
    height: auto;
    /* background: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.accueil-titre p,h1{
text-align: center;
margin: 0 2px;
padding: 20px;
/* background: orange; */
}

.accueil-titre p{
    font-size: 2rem;
}
h1{
    font-size: 3rem;
}
p.sans-interligne{
font-size: 1.9rem;
}

/* gestion des logos full stack du home */
.logo-liste{
    position: relative;
    top:100px;
    width: 100%;
    height: 20%;
    /* background: crimson; */
}
.logo-liste ul{
    display:flex;
    justify-content: space-around;
    width:100%;
    height: 80%;
    list-style-type: none;
    padding-right:10%;

}

.logo-liste ul li {
    display: flex;
    justify-content: space-between;
}

.logo-liste ul li a img{
    height: 100%;
} 
.logo-liste ul li a img:hover{
    background: #000;
} 
/* mediaquery du home ********************************************/
@media screen and (max-width:1024px){
    .accueil{
        height: 50vh;
    }
    h1{
        font-size:1em;
    }
    .accueil-titre p,h1,p strong{
        font-size: 0.8em;
    }
}

/**************************************************************************************/
/*************************************** portfolio ***********************************/
/**************************************************************************************/
.galerie{
    width: 80%;
    max-width: 1300px;
    margin: 70px auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item-galerie{
    width: 300px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;

}
.item-galerie img{
    width: 100%;
    height: auto;
}