$colour-primary: black;
$colour-secondary: #5f6977;
$colour-accent: #c9c5c5;
$colour-white: #ffffff;
$colour-invalid: #DB464B;
$heading-shadow-size: .20rem;
$layout-margin: 3rem;
$grid-gutter: $layout-margin * .25;
$colour-chocolate: chocolate;