*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: 'Allura-Regular';
    src: url("./font/Allura-Regular.ttf");
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    box-sizing: border-box;
    //background-image: url(./public/img/background.jpg);
    @include backgroundColor;
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: $colour-chocolate;
}

h2 {
    color: $colour-secondary;
}

ul li {
    color: $colour-secondary;
}